/* Glass effect navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  position: relative;
  top: -80px;
  opacity: 0;
  transition: top 0.8s ease, opacity 0.8s ease;
  z-index: 999;
}

/* Show animation */
.navbar.show {
  top: 0;
  opacity: 1;
}

.navbar-title img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.6s ease;
}

.navbar-title img:hover {
  transform: rotate(360deg);
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  transition: transform 0.3s ease;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.navbar-links a:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.1);
  font-size: 16px;
  border-radius: 20PX;
  padding: 4px 10px 4px 10px;
 box-shadow: 1px 1px 30px rgb(255, 255, 255);
  
}


.logout-button{
  border-radius: 20px;
  padding: 4px 10px 4px 10px;
  transition: all 0.4s ease;
  cursor: help;
}

.logout-button:hover{
  background-color: rgb(255, 0, 0);
  box-shadow: 1px 1px 30px rgb(255, 0, 0);
  padding: 13px 3px 13px 3px;
  color: #fff;

}

.btn-recebidas:hover{
  box-shadow: 1px 1px 30px rgb(208, 255, 0);
  font-size: 16px;
}
