Reset básico * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Cor de fundo do body */
body {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 350;
  background-color: rgb(34, 34, 43);
  color: #ffffff;
  overflow-x: hidden;
}
